    /**
     * subsection: Fonts
     * ----------------------------------------
     */

    $font-primary:          'Montserrat', sans-serif;
    $font-weight:           300;
    $font-size:             16px;
    $line-height:           24px;

    /**
     * subsection: Colors
     * ----------------------------------------
     */

    $color-primary:         #698495;
    $color-secondary:       #30B3C7;
    $color-tertiary:        #32576E;

    $color-active:          #FBB04B;

    /**
     * subsection: General
     * ----------------------------------------
     */

    $container-width:       1380px; // 1170px;
    $container-padding:     15px;