    /**
     * subsection: General Theme
     * ----------------------------------------
     */

    body{
        font-family:    $font-primary;
        font-weight:    $font-weight;
        font-size:      $font-size;
        line-height:    $line-height;

        color:          #698495;
        background:     #F6F6F6;
        margin-bottom:  100px;
    }